* {
    margin:0;
    padding:0;
}
body{
    font-weight: 900;
}
.head{
    display: flex;
    justify-content: end;
    height: 20px;
    padding-right: 38px;
    padding-top: 10px;
}
input, .label , td {
    background-color: rgba(210, 205, 197, 0.455);
}
.container{
    width:80%;
    margin: 10px auto;
}
h1 {
    text-align: center;
}
.cacher {
    display: none;
}
/*----------------- dark mode toggle ----------------------------------------*/
.label {
    width:55px;
    height:25px;
    display: flex;
    border-radius: 50px;
    margin-right:80px ;
    margin-top:10px ;
    cursor:pointer;
    justify-content: left;
    align-items: center;
}
.move{
    background-color: #000;
    height:20px;
    width:20px;
    border-radius: 50%;
    margin: 2px;
    transition: all .5s ease;
}
/*----------------- button ----------------------------------------*/
button{
    margin: 6px;
    padding:4px;
    border:none;
    font-weight: 700;
    cursor:pointer;
}
/*----------------- input----------------------------------------*/
input{
    border:none;
    font-weight: 700;
    letter-spacing: 1px;
    outline:none;
}
input::placeholder{
    font-weight: 400;
    word-spacing: 5px;
}
/*----------------- nombre des membres du club ----------------------------------------*/
.number_of_members{
    text-align: center;
    margin-top:52px;
    margin-bottom: 15px;
    font-size: 18px;
}
/*----------------- boutton d'ajout  ----------------------------------------*/
.add{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info{
    width:60%;
}
.info input {
    width: 90%;
    margin:2px;
    border-radius: 8px;
    padding: 10px;
}
/*----------------- mode :  ajout // light ----------------------------------------*/
.addBtnClass {
    width:55px;
    height:100px;
    border-radius: 8px;
    position:relative;
    overflow: hidden;
    background-color: rgb(199, 227, 157);
}
.addBtnClass::before{
    content:" ";
    width:0;
    height: 0;
    border-radius: 50%;
    background-color: rgb(201, 245, 136);
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    transition: width .4s ease, height .2s ease;
}
.addBtnClass:hover::before{
    width:120px;
    height:120px;
}
.addBtnClass span {
    position: relative;
    z-index:1;
}
/*----------------- mode :  modifier // light ----------------------------------------*/
.addBtnClassNew {
    width:55px;
    height:100px;
    border-radius: 8px;
    position:relative;
    overflow: hidden;
    background-color: rgb(174, 174, 255);
}
.addBtnClassNew::before{
    content:" ";
    width:0;
    height: 0;
    border-radius: 50%;
    background-color: rgb(198, 198, 254);
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    transition: width .4s ease, height .2s ease;
}
.addBtnClassNew:hover::before{
    width:120px;
    height:120px;
}
.addBtnClassNew #spanUpBtn {
    position: relative;
    z-index:1;
} 
.operations{
    margin-top:30px;
    text-align: center;
}
/*----------------- mode :  ajout // dark ----------------------------------------*/
.addBtnClassDarkMode {
    width:55px;
    height:100px;
    border-radius: 8px;
    position:relative;
    overflow: hidden;
    background-color: rgb(69, 114, 0);
}
.addBtnClassDarkMode::before{
    content:" ";
    width:0;
    height: 0;
    border-radius: 50%;
    background-color: rgba(137, 171, 85, 0.578);
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    transition: width .4s ease, height .2s ease;
}
.addBtnClassDarkMode:hover::before{
    width:120px;
    height:120px;
}
.addBtnClassDarkMode span {
    position: relative;
    z-index:1;
}
/*----------------- mode :  modifier // dark ----------------------------------------*/
.addBtnClassDarkModeNew {
    width:55px;
    height:100px;
    border-radius: 8px;
    position:relative;
    overflow: hidden;
    background-color: rgb(0, 0, 156);
}
.addBtnClassDarkModeNew::before{
    content:" ";
    width:0;
    height: 0;
    border-radius: 50%;
    background-color: rgb(69, 101, 231);
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    transition: width .4s ease, height .2s ease;
}
.addBtnClassDarkModeNew:hover::before{
    width:120px;
    height:120px;
}
.addBtnClassDarkModeNew span {
    position: relative;
    z-index:1;
}
/* ------------- search  input ------------------------------------ */
.operations input {
    width:300px;
    margin-right: 70px;
    padding: 4px;
}
/*------------------ boutons de trie -------------------------*/
.sort button {
    padding: 4px 28px;
    border-radius: 10px;
    background-color: rgb(199, 227, 157);
    transition: all .5s ease;
}
.sort button:hover{
    transform: scale(1.1);
}
.operations .sort {
    margin-right: 70px;
}
/*------------------ table -------------------------*/
td{
    border-radius: 4px;
}
td,th{
    padding: 5px;
    text-align: center;
}
table {
    margin: 50px auto;
    width:90%;
    font-size: 20px;
}
/*----------------------------- icone de suppression -------------------------------*/
.iconee{
    cursor:pointer;
    transition:all .5s ease;
}
.iconee:hover{
    transform: scale(1.5);
}
/*---------  le div qui affiche l'erreur -------------*/
#divMsgError{
    text-align: center;
    margin-top: 13px;
    margin-right:28px;
    font-size:14px;
    font-weight:900;
    letter-spacing: 1px;
    color:rgba(207, 9, 9, 0.703);
}